mixin content
	.content
		.section(data-section="section-1")
			h3.section__title Section 1
		.section(data-section="section-2")
			h3.section__title Section 2
		.section(data-section="section-3")
			h3.section__title Section 3
		.section(data-section="section-4")
			h3.section__title Section 4
		.section(data-section="section-5")
			h3.section__title Section 5