mixin content
	.content
		.section(data-section="section-1" style="background:#EF5350")
			h3.section__title Section 1
		.section(data-section="section-2" style="background:#AB47BC")
			h3.section__title Section 2
		.section(data-section="section-3" style="background:#5C6BC0")
			h3.section__title Section 3
		.section(data-section="section-4" style="background:#29B6F6")
			h3.section__title Section 4
		.section(data-section="section-5" style="background:#26A69A")
			h3.section__title Section 5